@charset "UTF-8";
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");

/* System Grid */
@import url("lib/grid.css");

/* Generals */
@import url("lib/normalize.css");
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img {
    max-width: 100%;
}

/* Header */
.page-header {
    background-color: #9fc202;
    color: #fff;
    padding: 65px 0;
}
.page-header h1 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

/* Nav */
.page-nav ul {
    padding: 10px 0;
}
.page-nav li {
    display: inline-block;
}
.page-nav li + li {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #ccc;
}
.page-nav a {
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: #666;
}
.page-nav a.active,
.page-nav a:hover {
    text-decoration: underline;
    color: #333;
}

/* Main */
.page-main {
    padding: 65px 0;
}

/* Section */
.page-section h2 {
    font-size: 45px;
    font-weight: 300;
    color: #666;
}
.page-section h2:first-child {
    margin-top: 0;
}

/* Footer */
.page-footer {
    background-color: #666;
    padding: 16px 0;
    text-align: center;
    color: #fff;
}
.page-footer p {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

/* Table */
.table {
    width: 100%;
    border: 2px solid transparent;
    border-top-color: #ccc;
    border-bottom-color: #ccc;
    border-collapse: collapse;
    border-spacing: 0;
}
.table th,
.table td {
    padding: 10px;
}
.table th {
    border-bottom: 2px solid #ccc;
}
.table td:last-child {
    text-align: center;
}
.table tfoot {
    font-weight: 700;
}
.table .bad {
    background-color: #f00;
    color: #fff;
}
.table .regular {
    background-color: #f90;
}
.table .good {
    background-color: #9d0;
}

/* Helpers */
.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
}
.clearfix:after {
    clear: both;
}
.margin-top,
.mt {
    margin-top: 65px;
}
.margin-bottom,
.mb {
    margin-bottom: 65px;
}
.margin-vertical,
.mv {
    margin-top: 65px;
    margin-bottom: 65px;
}
.padding-top,
.pt {
    padding-top: 65px;
}
.padding-bottom,
.pb {
    padding-bottom: 65px;
}
.padding-vertical,
.pv {
    padding-top: 65px;
    padding-bottom: 65px;
}